---
layout: base
---

<div class="archive">
  <h1 class="page-heading">{{ page.title | default: "Archive" }}</h1>

  {{ content }}

  {%- assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}
  {%- for year in posts_by_year -%}
    <h2 class="archive-year">{{ year.name }}</h2>
    <ul class="post-list archive-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in year.items -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</div>
